@page "{id:int?}"
@model RazorGroupMegaDesk.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Desk Quote Details</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-8 border rounded shadow py-3 px-4 bg-white">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="ms-2">
                    <div class="fw-bold">@Html.DisplayNameFor(model => model.Order.CustomerName)</div>
                    @Html.DisplayFor(model => model.Order.CustomerName)
                </div>
            </li>
            <li class="list-group-item">
                <div class="ms-2">
                    <div class="fw-bold">@Html.DisplayNameFor(model => model.Order.OrderDate)</div>
                    @Html.DisplayFor(model => model.Order.OrderDate)
                </div>
            </li>
            <li class="list-group-item">
                <div class="ms-2">
                    <div class="fw-bold">@Html.DisplayNameFor(model => model.Order.Width)</div>
                    @Html.DisplayFor(model => model.Order.Width)
                </div>
            </li>
            <li class="list-group-item">
                <div class="ms-2">
                    <div class="fw-bold">@Html.DisplayNameFor(model => model.Order.Depth)</div>
                    @Html.DisplayFor(model => model.Order.Depth)
                </div>
            </li>
            <li class="list-group-item">
                <div class="ms-2">
                    <div class="fw-bold">@Html.DisplayNameFor(model => model.Order.Drawers)</div>
                    @Html.DisplayFor(model => model.Order.Drawers)
                </div>
            </li>
            <li class="list-group-item">
                <div class="ms-2">
                    <div class="fw-bold">@Html.DisplayNameFor(model => model.Order.SurfMaterial)</div>
                    @Html.DisplayFor(model => model.Order.SurfMaterial)
                </div>
            </li>
            <li class="list-group-item">
                <div class="ms-2">
                    <div class="fw-bold">@Html.DisplayNameFor(model => model.Order.RushOrder)</div>
                    @Html.DisplayFor(model => model.Order.RushOrder)
                </div>
            </li>
        </ul>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <a asp-page="./Index" class="btn btn-outline-secondary w-100">Back to List</a>
            </div>
            <div class="col-md-6">
                <a asp-page="./Edit" asp-route-id="@Model.Order?.Id" class="btn btn-warning w-100">Edit</a>
            </div>
        </div>
    </div>
</div>
